@CHARSET "UTF-8";

/*
* to add the theming to the outbut block
* created by (Ahmed Essam)
*/

#steps{
  //border-bottom: 4px dotted #E1E1E1;
	padding: 10px 10px 10px 10px;
	
}

.clear{
	clear: both;
}

#step1{
	
	height: 150px;
	width:130px;
	border: 1px solid green;
	float: left;
	}
	
	#step2{
	height: 150px;
	width:130px;
	border: 1px solid green;
	float: left;
}

#step3{
	
	height: 150px;
	width:130px;
	border: 1px solid green;
	float: left;
	
}

#step4{
	
	height: 150px;
	width:130px;
	border: 1px solid green;
	float: left;
	
}

#step5{
	
	height: 150px;
	width:130px;
	border: 1px solid green;
	float: left;
	
}



#links
{
	width: 100%;
	border: 1px thin black;
	margin-top: 10px;
}

.link
{
	float: left;
	width: 130px;
	height: 20px;
	border: 1px solid blue;
	font-weight: bolder;
	text-align: center;
}


.front #page-title {
	display: none;
}

.view table {
	width: 100%;
}

.ride-action {
	font-size: 18px;
	list-style: none outside none !important;
	display: block;
}

.field {
  padding: 10px 0px;	
}

.field-label {
	width: 105px;
}

.field-name-field-from-city .field-label,
.field-name-field-to-city .field-label {
	color: transparent;
}


.field-name-field-from-city ,
.field-name-field-to-city {
  padding-top: 0px;
}